* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  background: #DDD;
}

table {
  background: rgb(7, 0, 70);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px 5px black;
  margin: 0 auto;
}

button {
  font-size: 200%;
  width: 60px;
  border: none;
  padding: 10px;
}

.buttons td {
  padding: 5px;
}

input {
	font-size: 20px;
  height: 40px;
  width: 277px;
  text-align: right;
  background: rgba(0, 153, 255, 0.445);
  color: white;
  padding: 5px;
  margin: 5px;
}

#clearButton {
  background: red;
}

button:hover {
  background: rgba(0, 153, 255, 0.445);
  color: white;
}

#clearButton:hover{
  background: rgba(255, 0, 0, 0.5);
}