* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: linear-gradient(90deg, rgb(30,0,0), red, rgb(30,0,0));
  height: 100vh;
  padding: 50px;
}

.wrapper {
  width: 600px;
  height: 450px;
  margin: 0 auto;
  background: #eee;
  box-shadow: 0 0 50px 5px black;
}

.header {
  display: grid;
  justify-content: center;
}

.header p {
  display: block;
  justify-self: center;
}

.header span {
  font-weight: 900;
  color: red;
}


.cellId {
  display: none;
}
.grid {
  height: 320px;
  width: 420px;
  background: gray;
  padding: 10px;
  margin: 15px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 10px;
  height: 10px;
  border: 1px solid gray;
}

.dead {
  background: black;
}

.alive {
  background: red;
}

button {
  background: black;
  border: none;
  color: red;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  color: black;
  background: red;
}